# Python
*.pyc
__pycache__/
*.pyo
*.egg-info/
dist/
build/

# Shell
*.log
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db
Desktop.ini

# IDE
.vscode/
.idea/
*.sublime-*

# Test
*.tmp
*.temp

# Git
.gitattributes
